
IndentWidth: 4
MaxEmptyLinesToKeep: 16
KeepEmptyLines:
    AtEndOfFile: true
    AtStartOfBlock: true
    AtStartOfFile: true
IncludeBlocks: Preserve
EmptyLineAfterAccessModifier: Leave
EmptyLineBeforeAccessModifier: Leave
KeepEmptyLinesAtTheStartOfBlocks: true
TabWidth: 4
UseTab: ForIndentation
IndentAccessModifiers: false
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortNamespacesOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

NamespaceIndentation: None