
IndentWidth: 4
MaxEmptyLinesToKeep: 16
#KeepEmptyLines:
#    AtEndOfFile: true
#    AtStartOfBlock: true
#    AtStartOfFile: true
IncludeBlocks: Preserve
EmptyLineAfterAccessModifier: Leave
EmptyLineBeforeAccessModifier: Leave
KeepEmptyLinesAtTheStartOfBlocks: true
TabWidth: 4
UseTab: ForIndentation
IndentAccessModifiers: false
AccessModifierOffset: -4


NamespaceIndentation: None